In [1]:
#Python Number

In [2]:
1+5

6

In [3]:
1-6

-5

In [4]:
8/7

1.1428571428571428

In [5]:
7*5

35

### Module or Mod

In [6]:
7/4

1.75

In [7]:
7 % 4

3

In [8]:
20 % 2

0

In [9]:
50 % 9

5

In [10]:
#Power
2 ** 3

8

In [11]:
(1+5) / (5+8)

0.46153846153846156

In [13]:
0.1 + 0.2 - 0.3

5.551115123125783e-17

### Variable Assignment

* Variable name can't be start with number
* Variable name can't be contains spaces
* Variable name can't be contains special charecter
* Variable name can't be build in keywords
* Python is dynamic type (not Static type)

In [14]:
var1 = 10

In [15]:
var1

10

In [16]:
var2 = 20

In [18]:
var1 + var2

30

In [19]:
var1 = var1 + var1

In [20]:
type(var1)

int

In [23]:
var1 = var1/var2
print(var1)
type(var1)

0.0025

float

In [24]:
salary = 1000
tax = 0.1

my_total_tax = salary * tax
my_total_tax

100.0

### Introduction to String
* String are sequence of charecter, using the syntax of either single quotes or double quotes

In [25]:
'hello'

'hello'

In [26]:
"Hello World"

'Hello World'

In [27]:
'this is also string'

'this is also string'

In [28]:
"I'am sonu shaikh"

"I'am sonu shaikh"

In [29]:
print("Hello World")

Hello World

In [30]:
"Hello World"
"I'm sonu shaikh"

"I'm sonu shaikh"

In [36]:
print("hello \nWorld")
print("hello \t world")

hello
World
hello 	 world

In [39]:
len('Hello world, I\'m hungry')

23

### String indexing and Slicing

In [60]:
mystring = "Hello world"
mystring

'Hello world'

In [41]:
mystring[0]

'H'

In [42]:
mystring[8]

'r'

In [44]:
mystring[-3]

'r'

In [45]:
mystring[-1]

'd'

In [46]:
#slicing

In [49]:
mystring = 'abcdefghijk'

In [50]:
mystring[2:]

'cdefghijk'

In [51]:
mystring[3:8]

'defgh'

In [52]:
mystring[:8]

'abcdefgh'

In [54]:
mystring[::2]

'acegik'

In [56]:
mystring[2:8:2]

'ceg'

In [57]:
mystring[::-1]

'kjihgfedcba'

In [58]:
mystring[::-2]

'kigeca'

In [62]:
mystring[8]

'r'

In [63]:
"tinker"[1:4]

'ink'

In [64]:
### String Property and Methods

### **Immutability**

In [66]:
name = 'Sonu'

In [67]:
name[0] = 'M'

TypeError: 'str' object does not support item assignment

In [70]:
last_letters = name[1:]

In [71]:
last_letters

'onu'

In [72]:
'M' + last_letters

'Monu'

In [73]:
letter = 'z'

In [74]:
letter * 10

'zzzzzzzzzz'

In [78]:
letter + 2

TypeError: can only concatenate str (not "int") to str

In [76]:
'2' + '5'

'25'

In [77]:
#Methos
x = 'Hello World'

In [79]:
x.upper()

'HELLO WORLD'

In [84]:
x.find

In [85]:
x.lower()

'hello world'

In [86]:
x.split()

['Hello', 'World']

In [87]:
x = 'Hi, This is a string'

In [88]:
x.split()

['Hi,', 'This', 'is', 'a', 'string']

In [90]:
x.split('i')

['H', ', Th', 's ', 's a str', 'ng']

# String formating with print method
### Formating witht the .format() method
A good way to format object into string for point statements is with the string.format() metod. The syntax is:
    #**String here {} then also {}.format('somethings1','somethings2')**

In [2]:
print("This is a string {}".format('`INSERTED`'))

This is a string `INSERTED`

In [7]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [8]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [9]:
print('The {q} {f} {b}'.format(f='fox',b='brown',q='quick'))

The quick fox brown

### Float formatting follows "{values:width.precision f}"

In [10]:
result = 100/177

In [11]:
result

0.5649717514124294

In [17]:
print('The result was {r:1.3f}'.format(r=result))

The result was 0.565

In [22]:
name = 'Jose'
age = 23

In [19]:
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [20]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [23]:
print(f'Hello, his name is {name} and age is {age}')

Hello, his name is Jose and age is 23

### List in pythons

In [24]:
my_list = [1,2,3]

In [25]:
my_list = [1,2.25,'Sonu']

In [26]:
len(my_list)

3

In [27]:
mylist = ['one','two','three']

In [28]:
mylist[0]

'one'

In [29]:
mylist

['one', 'two', 'three']

In [30]:
another_list = ['four','five']

In [31]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [33]:
new_list = mylist + another_list
new_list

['one', 'two', 'three', 'four', 'five']

In [34]:
new_list[2:]

['three', 'four', 'five']

In [36]:
new_list[0] = 'ONE ALL CAPS'

In [37]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [39]:
new_list.append('Six')
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'Six', 'Six']

In [41]:
#removing iterms POP methos
new_list.pop(-1)

'Six'

In [42]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'Six']

In [43]:
popped_item = new_list.pop()

In [44]:
popped_item

'Six'

In [45]:
new_list.pop(0)

'ONE ALL CAPS'

In [49]:
new_list = ['a','e','d','f','z','s','r','p','j','k']

In [50]:
new_list.sort
new_list

['a', 'e', 'd', 'f', 'z', 's', 'r', 'p', 'j', 'k']

In [53]:
num_list = list(range(0,9))
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [57]:
num_list.reverse()
num_list

[8, 7, 6, 5, 4, 3, 2, 1, 0]

### Dictionary : Key Value pair
{'Key':"value"}

In [58]:
my_dict = {'key1':'value1','key2':'value2','key3':'value3'}

In [59]:
my_dict['key3']

'value3'

In [60]:
prices_lookup = {'apples':100,'orages':40,'chocolate':35, 'milk':50}

In [61]:
prices_lookup['milk']

50

In [66]:
d = {'k1':['a','b','c'],'k2':[0,2,4],'k3':{'insidekey':100}}

In [64]:
d['k2']

[0, 2, 4]

In [67]:
d

{'k1': ['a', 'b', 'c'], 'k2': [0, 2, 4], 'k3': {'insidekey': 100}}

### Tuples - Immutability - ()

In [81]:
T = (1,2,3,4,5,6,7,8,9)

In [70]:
T

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [72]:
type(T)

tuple

In [73]:
tuple(T)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [74]:
len(T)

9

In [75]:
T[0]

1

In [76]:
T[-1]

9

In [80]:
t.count(1)

1

In [82]:
t.index(9)

8

In [83]:
T[0] = 15

TypeError: 'tuple' object does not support item assignment

### Sets
Sets are unorder collections of unique iterms

In [84]:
myset = set()

In [85]:
myset

set()

In [86]:
myset.add(1)

In [88]:
myset

{1}

In [96]:
mylist = list(range(0,500))

In [97]:
dset = set('Mississippi')

In [98]:
dset

{'M', 'i', 'p', 's'}

In [99]:
set([1,1,2,3])

{1, 2, 3}

# Files :- Input/Output

In [105]:
import os
#only work in jupyter note book

In [111]:
pwd

'C:\\Users\\shaik\\OneDrive\\Desktop\\Python Programming\\OpsProgramms'

In [ ]:
myfile = open('myfile.txt')

In [112]:
myfile.read()

'Hello is the a text file\nthis is the second line\nthis is the third line'

In [113]:
myfile.read()

''

In [121]:
#need to reset cursor
myfile.seek(0)

0

In [117]:
content = myfile.read()
content

'Hello is the a text file\nthis is the second line\nthis is the third line'

In [120]:
myfile.readline()

'Hello is the a text file\n'

In [122]:
myfile.readlines()

['Hello is the a text file\n',
 'this is the second line\n',
 'this is the third line']

In [123]:
myfile.close()

In [127]:
#with opetion will open file and you don't need to explicity close it
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()
contents

'Hello is the a text file\nthis is the second line\nthis is the third line'

In [129]:
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()
contents

'Hello is the a text file\nthis is the second line\nthis is the third line'

In [130]:
with open('myfile.txt',mode='w') as myfile:
    contents = myfile.read()
contents

UnsupportedOperation: not readable

### Permsions over folder
* 'r'       open for reading (default)
* 'w'       open for writing, truncating the file first
* 'x'       create a new file and open it for writing
* 'a'       open for writing, appending to the end of the file if it exists
* 'b'       binary mode
* 't'       text mode (default)
* '+'       open a disk file for updating (reading and writing)* 
* 'U'       universal newline mode (deprecated)

In [132]:
with open('myfile.txt',mode='r') as f:
    print(f.read())

The following constraints are commonly used in SQL:

NOT NULL - Ensures that a column cannot have a NULL value
UNIQUE - Ensures that all values in a column are different
PRIMARY KEY - A combination of a NOT NULL and UNIQUE. Uniquely identifies each row in a table
FOREIGN KEY - Uniquely identifies a row/record in another table
CHECK - Ensures that all values in a column satisfies a specific condition
DEFAULT - Sets a default value for a column when no value is specified
INDEX - Used to create and retrieve data from the database very quickly

In [141]:
with open('myfile.xt', mode='a') as f:
    f.write('n\Thank You!!! For Reading')

In [142]:
with open('myfile.txt',mode='r') as f:
    print(f.read())

The following constraints are commonly used in SQL:

NOT NULL - Ensures that a column cannot have a NULL value
UNIQUE - Ensures that all values in a column are different
PRIMARY KEY - A combination of a NOT NULL and UNIQUE. Uniquely identifies each row in a table
FOREIGN KEY - Uniquely identifies a row/record in another table
CHECK - Ensures that all values in a column satisfies a specific condition
DEFAULT - Sets a default value for a column when no value is specified
INDEX - Used to create and retrieve data from the database very quickly

Thank You!!!! For reading

In [146]:
with open('djjsl.txt', mode='w') as f:
    f.write('I created this this file')

In [147]:
with open('djjsl.txt', mode ='r') as f:
    print(f.read())

I created this this file

### Comparision Operation`

In [1]:
#Equal to

2 == 3

False

In [2]:
3 == 3

True

In [3]:
'A' == 'a'

False

In [4]:
#Not equalto

In [5]:
2 != 3

True

In [6]:
2 != 2

False

In [7]:
#Greater than Equal to

2 >= 5

False

In [9]:
5 > 5

False

In [10]:
#Smaller than equal to 
4 <= 5

True

In [11]:
10 <= 10

True

In [12]:
15 > 18

False

In [13]:
18 < 96

True

### Changing comparision operator with logical operator

In [15]:
1 < 2 < 3

True

In [16]:
1 < 2 > 3

False

In [18]:
1 < 2 and 2 < 3

True

In [19]:
('h' == 'h' )and (2 == 2)

True

In [20]:
1 == 1 or 2 == 2

True

In [21]:
2 == 3 or 100 == 1

False

In [22]:
not(1 == 1)

False

In [23]:
not(500 < 400 > 545 < 33)

True