***Lets begin out learn about control flow statement*** <br/>
if <br/>
elif <br/>
else

In [3]:
Hungry = False

if Hungry:
    print('FEED ME!!')
else:
    print('I\'m not hungry')

I'm not hungry

In [8]:
loc = 'Game'

if loc == 'Auto Shop':
    print('Cars are cool!!!')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to Store!!')
else:
    print('I don\' know much')

I don' know much

In [10]:
name = 'Sonu'

if name == 'Frankie':
    print('Hello Frankie')
elif name == 'Sammy':
    print('Hello Sammy')
else:
    print('whats you name')

whats you name

### Loops in python

In [15]:
#For loop
#The term iterable means you can iterate over the object.
#Syntax
my_iterable = [1,2,3]
for item in my_iterable:
    print(item)

In [1]:
mylist = list(range(0,10))
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
for nums in mylist:
    print(nums)

0
1
2
3
4
5
6
7
8
9

In [25]:
for num in mylist:
    if(num % 2 == 0):
        print(f'Sum number:{num}')
    else:
        print(f'Odd Number:{num}')

Sum number:0
Odd Number:1
Sum number:2
Odd Number:3
Sum number:4
Odd Number:5
Sum number:6
Odd Number:7
Sum number:8
Odd Number:9

In [6]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

print(f' Sum of list numbers is {list_sum}')

 Sum of list numbers is 45

In [9]:
mystring = 'Hello World'
for lettrs in mystring:
    print(lettrs)

H
e
l
l
o

W
o
r
l
d

In [10]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [11]:
len(mylist)

4

In [16]:
#tuple unpacking

for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [92]:
mylist = [(1,2,3),(5,66,7),(8,9,10)]

for (a,b,c) in mylist:
    print(b)

2
66
9

In [97]:
d = {'k1':1,'k2':2,'k3':3}
for key,value in d.items():
    print(key,value)
    
#for items in d.values():
#    print(items)

k1 1
k2 2
k3 3

### While Loops in python <br/>
***we can combine while loop with else statement*

In [1]:
x = 5
while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X IS NOT LESS THAN 5")

X IS NOT LESS THAN 5

***break, continue, pass <br/>*** <br/>
We can use break, continue, and pass statements in out loop to add additional functionality for various cases. The thre statements are feind by: <br/>

break: Breaks out of the current colose enclosing loop.<br/>
continue: Goes to the top of the closest enclosing loop. <br/>
pass: Does nothi at all.

In [3]:
x = [1,2,3]
for item in x:
    #comments
    pass
print('end of the script')

end of the script

In [5]:
mystring = 'Sammy'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [6]:
mystring = 'Sammy'
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [2]:
x = 5
while x < 10:
    if x == 8:
        break
    print(x)
    
    x += 1

5
6
7

### Usefull operator in python

#### Range

In [7]:
for num in range(10):
    print(num)

3
4
5
6
7
8
9

In [9]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [10]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [11]:
list(range(0,15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

#### enumerate

In [12]:
word = 'Sonu Shaikh'

for item in enumerate(word):
    print(item)

(0, 'S')
(1, 'o')
(2, 'n')
(3, 'u')
(4, ' ')
(5, 'S')
(6, 'h')
(7, 'a')
(8, 'i')
(9, 'k')
(10, 'h')

In [17]:
word = 'sonu'
for index,value in enumerate(word):
    print(index)
    print(value)

0
s
1
o
2
n
3
u

#### Zip

In [23]:
mylist1 = [1,2,4,5]
mylist2 = ['s','o','n','u']
mylist3 = ['A','B','C','D','E','F']
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 's', 'A')
(2, 'o', 'B')
(4, 'n', 'C')
(5, 'u', 'D')

In [24]:
list(zip(mylist1,mylist2,mylist3))

[(1, 's', 'A'), (2, 'o', 'B'), (4, 'n', 'C'), (5, 'u', 'D')]

#### 'In' operator

In [25]:
'x' in [1,2,3]

False

In [27]:
'x' in ['s','o','n','u','x']

True

In [29]:
'a' in 'a words'

True

In [31]:
'mykey' in {'mykey':123}

True

In [33]:
d = {'mykey':345}
345 in d.values()

True

#### min & max

In [34]:
mylist = list(range(1,20))

In [35]:
min(mylist)

1

In [36]:
max(mylist)

19

#### random library

In [37]:
from random import shuffle

In [41]:
mylist = list(range(0,20))
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [42]:
shuffle(mylist)

In [43]:
mylist

[17, 14, 11, 13, 3, 6, 15, 16, 12, 9, 10, 18, 1, 7, 4, 5, 8, 19, 2, 0]

In [44]:
#Grabing random integer

In [45]:
from random import randint

In [47]:
randint(0,50)

35

In [48]:
randint(50,59)

53

In [49]:
#user inputer
input('Hey, Enter you age!!')

Hey, Enter you age!!5

'5'

In [52]:
age = input('Hey, Whats your ege??')
age

Hey, Whats your ege??58

'58'

In [53]:
int(age)

58

#### List Comprehensions
List comprehension are a unique way of quickly creating a list with python <br/>
if you find yourself using a for loop along with .append() to create a list, List Comprehensionsare a good alternative!<br/>

In [59]:
mylist = [x for x in 'My name is Sonu']

In [60]:
mylist

['M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'S', 'o', 'n', 'u']

In [61]:
squrelist = [num**2 for num in list(range(1,8))]

In [62]:
squrelist

[1, 4, 9, 16, 25, 36, 49]

In [83]:
even_nums_sqrt = [num **2 for num in range(15,30) if num%2 ==0]

In [84]:
even_nums_sqrt

[256, 324, 400, 484, 576, 676, 784]

In [75]:
celcius = [0,10,20,30,40,50,60,70,80]

In [82]:
fahrenheit = [(9/5 * temp+31) for temp in celcius]

In [77]:
fahrenheit

[0.0, 18.0, 36.0, 54.0, 72.0, 90.0, 108.0, 126.0, 144.0]

In [81]:
farh = []

for temp in celcius:
    farh.append(9/5 * temp + 32)
farh

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0, 140.0, 158.0, 176.0]

In [85]:
results = [num if num%2 == 0 else 'ODD' for num in range(10,20)]

In [86]:
results

[10, 'ODD', 12, 'ODD', 14, 'ODD', 16, 'ODD', 18, 'ODD']

In [88]:
#List comhprehensive with inner for loop
mylist = []

for x in [5,10,15]:
    for y in [1,3,5]:
        mylist.append(x*y)

In [89]:
mylist

[5, 15, 25, 10, 30, 50, 15, 45, 75]

In [91]:
#list comprehension
mylist1 = [x*y for x in [5,10,15] for y in [1,3,5]]

In [92]:
mylist1

[5, 15, 25, 10, 30, 50, 15, 45, 75]