In [2]:
MyFirstList = [10,'sonu',18.05,"Sonu Shaikh Is My Full Name"]
MyFirstList

[10, 'sonu', 18.05, 'Sonu Shaikh Is My Full Name']

In [3]:
l1 = [10,20,30,40,50]
l1

[10, 20, 30, 40, 50]

In [6]:
list1 = [range(10)]
list1

[range(0, 10)]

In [7]:
list2 = list(range(10))
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
list3 = list(range(10,20))
list3

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
list4 = list(range(10,30,2))
list4

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [14]:
list5 = list(range (100,50,-5))
list5

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55]

In [17]:
#HOW TO ACCESS LIST

In [18]:
len(list4)

10

In [19]:
list5[5]

75

In [20]:
for i in list5:
    print(i)

100
95
90
85
80
75
70
65
60
55

In [22]:
letters = ['A','B','C','D','E','F','G']
letters

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [23]:
letters[2:5]

['C', 'D', 'E']

In [24]:
letters[-4:-1]

['D', 'E', 'F']

In [26]:
letters[-6:7]

['B', 'C', 'D', 'E', 'F', 'G']

In [27]:
letters[1:7:2]

['B', 'D', 'F']

In [28]:
letters[::-1]

['G', 'F', 'E', 'D', 'C', 'B', 'A']

In [29]:
letters[7:2:-1]

['G', 'F', 'E', 'D']

In [31]:
#Tuples is Immutable list
tupA = (12,45,23,64,75,86)
tupA

(12, 45, 23, 64, 75, 86)

In [33]:
tupA[0]

45

In [34]:
tupA[1] = 1

TypeError: 'tuple' object does not support item assignment