In [3]:
import pandas as pd
import numpy as np
import random

In [2]:
s = pd.Series([2,3,4,5],index=list('abcd'))

In [3]:
s

a    2
b    3
c    4
d    5
dtype: int64

In [5]:
s = pd.Series([9.2, 'hello', 89])
s.dtype

dtype('O')

In [7]:
s.isin([9.2,89])

0     True
1    False
2     True
dtype: bool

In [13]:
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
df.shape

(2, 3)

In [14]:
df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])

In [17]:
df[:2]

     A   B
r1  34  12
r2  78  67

In [71]:
#Task 1
hdata = [176.2,158.4,167.6,156.2,161.4]
heights_A = pd.Series(hdata,index=['s1','s2','s3','s4','s5'])
hshape = heights_A.shape
print(hshape)

#Task 2

wdata = [85.1,90.2,76.8,80.4,78.9]
weight_A = pd.Series(wdata,index=['s1','s2','s3','s4','s5'])
type_of_weighta = weight_A.dtype
print(type_of_weighta)

(5,)
float64

In [72]:
data = {'Student_height':heights_A,'Student_weight':weight_A}

In [73]:
df = pd.DataFrame(data)

In [42]:
df

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [4]:
import random
random.seed(100)
heights_B = np.random.normal(170.0,25.0,5)
heights_B

array([186.80750218, 236.65894713, 177.2252668 , 135.1441525 ,
       197.84330256])

In [5]:
random.seed(100)
heights_B = pd.Series(np.random.normal(170.0,25.0,5),index=['s1','s2','s3','s4','s5'])
weight_B = pd.Series(np.random.normal(170.0,25.0,5),index=['s1','s2','s3','s4','s5'])

heightb_mean = heights_B.mean()
heightb_mean

176.68949964899164

In [29]:
df.columns

Index(['Student_height', 'Student_weight'], dtype='object')

In [7]:
#Write your code here
import pandas as pd
import numpy as np
import random

#Task 1
hdata = [176.2,158.4,167.6,156.2,161.4]
heights_A = pd.Series(hdata,index=['s1','s2','s3','s4','s5'])
hshape = heights_A.shape
print(hshape)

#Task 2

wdata = [85.1,90.2,76.8,80.4,78.9]
weight_A = pd.Series(wdata,index=['s1','s2','s3','s4','s5'])
type_of_weighta = weight_A.dtype
print(type_of_weighta)

#Task 3
data = {'Student_height':heights_A,'Student_weight':weight_A}
df_A = pd.DataFrame(data)
print(df_A.shape)

#Task 4
random.seed(100)
heights_B = pd.Series(np.random.normal(170.0,25.0,5),index=['s1','s2','s3','s4','s5'])
weight_B = pd.Series(np.random.normal(170.0,25.0,5),index=['s1','s2','s3','s4','s5'])
heightb_mean = heights_B.mean()
print(heightb_mean)


#Task 5
data = {'Student_height':heights_B,'Student_weight':weight_B}
df_B = pd.DataFrame(data)
print(df_B.columns)

'''#Task 6
dataPanel = {'ClassA':df_A,'ClassB':df_B}
p = pd.Panel(data=dataPanel,items=['Student_height','Student_weight'],major_axis=['s1','s2','s3','s4','s5'])
print(p.shape)'''

(5,)
float64
(5, 2)
174.63647307151714
Index(['Student_height', 'Student_weight'], dtype='object')

"#Task 6\ndataPanel = {'ClassA':df_A,'ClassB':df_B}\np = pd.Panel(data=dataPanel,items=['Student_height','Student_weight'],major_axis=['s1','s2','s3','s4','s5'])\nprint(p.shape)"

In [13]:

a = (5,2)
print(a)

(5, 2)

In [1]:
import pandas as pd

d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
len(d[d.isin(pd.to_datetime(['12-09-2017', '15-09-2017']))])

1

In [3]:
d

DatetimeIndex(['2017-09-11', '2017-09-13', '2017-09-15', '2017-09-17'], dtype='datetime64[ns]', freq='2D')

In [6]:
(pd.period_range('11-Sep-2017', '17-Sep-2017', freq='M'))

PeriodIndex(['2017-09'], dtype='period[M]', freq='M')

In [7]:
len(pd.bdate_range('11-Sep-2017', '17-Sep-2017', freq='2D'))

4

In [18]:
df.iloc[:, lambda x : [0,1]]

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [20]:
df = pd.DataFrame({
    'A':[11,22,33],
    'B':[44,55,66],
    'C':[77,88,99],
    'D':[99,10,20]
})

In [28]:
df

    A   B   C   D
0  11  44  77  99
1  22  55  88  10
2  33  66  99  20

In [29]:
df.iloc[:, lambda x : [0,3]]

    A   D
0  11  99
1  22  10
2  33  20

In [36]:
df.iloc[:, lambda x:x.columns.isin(['C','D'])]

    C   D
0  77  99
1  88  10
2  99  20

In [46]:
 g = df.groupby(df.index.str.len())
 g.filter(lambda x: len(x) > 1)

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [53]:
g.aggregate({'Student_height':len, 'Student_weight':np.sum})

   Student_height  Student_weight
2             5.0           411.4

In [49]:
import numpy as np

In [57]:
import pandas as pd

s1 = pd.Series([0, 1, 2, 3])
s2 = pd.Series([0, 1, 2, 3])
s3 = pd.Series([0, 1, 4, 5])
d = pd.concat([s1, s2, s3], axis=1)

d.shape

(4, 3)

In [58]:
d

   0  1  2
0  0  0  0
1  1  1  1
2  2  2  4
3  3  3  5

In [59]:
import pandas as pd

df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])

In [61]:
df[:2]

     A   B
r1  34  12
r2  78  67

In [65]:
df.loc[df.B > 65]

     A   B
r2  78  67

In [66]:
df[df.B > 65]

     A   B
r2  78  67

In [67]:
import pandas as pd

data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, columns=['a', 'b'])
df.shape

(2, 2)

In [69]:
df

   a   b
0  1   2
1  5  10

In [70]:
import pandas as pd

data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
df.shape

(2, 3)

In [80]:
g = df.groupby('Student_height')

In [85]:
g = df.groupby(df.index.str.len())

In [88]:
g.size()

2    5
dtype: int64

In [ ]:
import pandas as pd

dataflair_mul = pd.MultiIndex(levels=[['one', 'two'], ['a', 'b']], codes=[[1, 0, 1, 0], [1, 1, 0, 0]])
dataflair_dat = pd.DataFrame({'S1': [2, 3, 4, 5], 'S2': [6, 7, 8, 9]}, index=dataflair_mul)
dataflair_dat.to_panel()

In [6]:
import numpy as np
data = np.random.randint(1, 10, (5, 3, 2))
pnl = pd.Panel(
    data, 
    items=['item {}'.format(i) for i in range(1, 6)], 
    major_axis=[2015, 2016, 2017], 
    minor_axis=['US', 'UK'])

<ipython-input-6-a660fd00042c>:3: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  pnl = pd.Panel(

TypeError: Panel() takes no arguments