In [1]:
import pandas as pd 
import numpy as np
import random
from IPython.display import display

In [49]:
# 4 Index
#Task 1
dates = pd.date_range('1-sep-2017','15-sep-2017')
print(dates[3])

#Task 2
datelist = ['14-sep-2017','9-sep-2017']
dates_to_be_searched = [pd.to_datetime(x) for x in datelist]
print(dates_to_be_searched)


#Task 3
result = dates_to_be_searched.isin(dates)
print(result)


#Task 4
arraylist = [['classA']*5 + ['classB']*5,['s1','s2','s3','s4','s5']*2]
mi_index = pd.MultiIndex.from_arrays(arraylist,names=['name','values'])
print(mi_index)

2017-09-04 00:00:00
datetime64[ns]
[ True  True]
MultiIndex([('classA', 's1'),
            ('classA', 's2'),
            ('classA', 's3'),
            ('classA', 's4'),
            ('classA', 's5'),
            ('classB', 's1'),
            ('classB', 's2'),
            ('classB', 's3'),
            ('classB', 's4'),
            ('classB', 's5')],
           names=['name', 'values'])

In [55]:
datelist = ['14-sep-2017','9-sep-2017']
dates_to_be_searched = pd.to_datetime(datelist)
dates_to_be_searched.dtype

dtype('<M8[ns]')

In [25]:
#Write your code here
import pandas as pd
import numpy as np
import random

#Task 1
hdata = [176.2,158.4,167.6,156.2,161.4]
heights_A = pd.Series(hdata,index=['s1','s2','s3','s4','s5'])
hshape = heights_A.shape
print(hshape)

#Task 2

wdata = [85.1,90.2,76.8,80.4,78.9]
weight_A = pd.Series(wdata,index=['s1','s2','s3','s4','s5'])
type_of_weighta = weight_A.dtype
print(type_of_weighta)

#Task 3
data = {'Student_height':heights_A,'Student_weight':weight_A}
df_A = pd.DataFrame(data)
print(df_A.shape)

#Task 4
my_mean = 170.0
my_std = 25
np.random.seed(100)
heights_B =  pd.Series(np.random.normal(loc=my_mean, scale=my_std, size=5))
heights_B.index = ['s1', 's2', 's3', 's4','s5']

my_mean1 = 75.0
my_std1 = 12
weights_B  = pd.Series(np.random.normal(loc=my_mean, scale=my_std, size=5))
weights_B.index = ['s1', 's2', 's3', 's4','s5']
print(heights_B.mean())


#Task 5
data = {'Student_height':heights_B,'Student_weight':weight_B}
df_B = pd.DataFrame(data)
for c in df_B.columns:
    print(c)
#print(df_B.columns)

#Task 6
'''dataPanel = {'ClassA':df_A,'ClassB':df_B}
p = pd.Panel(data=dataPanel,items=['Student_height','Student_weight'],major_axis=['s1','s2','s3','s4','s5'])
print(p.shape)'''

p = pd.Panel()
data = {'ClassA' : df_A, 
   'ClassB' : df_B}
print(p)
#172.37417741633146

(5,)
float64
(5, 2)
172.37417741633146
Index(['Student_height', 'Student_weight'], dtype='object')
<pandas.__getattr__.<locals>.Panel object at 0x0000016DA92B04C0>

<ipython-input-25-8dfadedd5b5b>:48: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  p = pd.Panel()

In [48]:
# importing pandas module 
import pandas as pd 
import numpy as np 
	
df1 = pd.DataFrame({'a': ['Geeks', 'For', 'geeks', 'for', 'real'], 
					'b': [11, 1.025, 333, 114.48, 1333]}) 
						
data = {'item1':df1, 'item2':df1} 
	
# creating Panel 
panel = pd.Panel.from_dict(data, orient ='minor') 
	
print("panel['b'] is - \n\n", panel['b'], '\n') 
	
print("\nSize of panel['b'] is - ", panel['b'].shape)

<ipython-input-48-f003888fd4ad>:11: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  panel = pd.Panel.from_dict(data, orient ='minor')

AttributeError: type object 'Panel' has no attribute 'from_dict'

#### Question Number 2

In [10]:

#Task 1
hdata = [176.2,158.4,167.6,156.2,161.4]
heights_A = pd.Series(hdata,index=['s1','s2','s3','s4','s5'])
print(heights_A['s2'])

158.4

In [39]:
#Task 2
heights_A[1:4]

s2    158.4
s3    167.6
s4    156.2
dtype: float64

In [40]:
#Task 3 -
wdata = [85.1,90.2,76.8,80.4,78.9]
weight_A = pd.Series(wdata,index=['s1','s2','s3','s4','s5'])
data = {'Student_height':heights_A,'Student_weight':weight_A}
df_A = pd.DataFrame(data)
height = df_A['Student_height']
print(height.dtype)
print(type(height))

float64
<class 'pandas.core.series.Series'>

In [16]:
#Task 4
data = df_A.loc[['s1','s2']]
df_s1s2 = pd.DataFrame(data)
print(df_s1s2)

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2

In [18]:
#Task 5
data = df_A.loc[['s2','s5','s1']]
df_s2s5se = pd.DataFrame(data)
print(df_s2s5se)

    Student_height  Student_weight
s2           158.4            90.2
s5           161.4            78.9
s1           176.2            85.1

In [28]:
#Task 6
index = df_A.index
#df_A.loc[x : for x in index: x.endswith('1') | x.endswith('4'):]

In [22]:
len(df_A)

5

#### Welcome to Python Pandas | 3 | Working with CSV files

In [6]:
#Write your code here
import pandas as pd
import numpy as np
import random

#Task 1
hdata = [176.2,158.4,167.6,156.2,161.4]
heights_A = pd.Series(hdata,index=['s1','s2','s3','s4','s5'])

wdata = [85.1,90.2,76.8,80.4,78.9]
weights_A = pd.Series(wdata,index=['s1','s2','s3','s4','s5'])

data = {'Student_height':heights_A,'Student_weight':weights_A}
df_A = pd.DataFrame(data)
df_A.to_csv('classA.csv')

#Task 2
df_A2 = pd.read_csv('classA.csv')
display(df_A2)

#Task 3
df_A3 = pd.read_csv('classA.csv',index_col=0)
display(df_A3)

#Task 4
random.seed(100)
heights_B = pd.Series(np.random.normal(170.0,25.0,5),index=['s1','s2','s3','s4','s5'])
random.seed(100)
weights_B = pd.Series(np.random.normal(170.0,12.0,5),index=['s1','s2','s3','s4','s5'])
data = {'Student_height':heights_B,'Student_weight':weights_B}
df_B = pd.DataFrame(data)
df_B.to_csv('classB.csv',index=False)

#Task 5
df_B2 = pd.read_csv('classB.csv')
display(df_B2)

#Task 6
df_B3 = pd.read_csv('classB.csv',header=None)
display(df_B3)

#Task 7
df_B4 = pd.read_csv('classB.csv',header=None,skiprows=2)
display(df_B4)

  Unnamed: 0  Student_height  Student_weight
0         s1           176.2            85.1
1         s2           158.4            90.2
2         s3           167.6            76.8
3         s4           156.2            80.4
4         s5           161.4            78.9

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

   Student_height  Student_weight
0      145.587022      170.817233
1      139.202274      198.000377
2      190.524587      195.060090
3      147.369795      140.804753
4      167.137873      165.062908

                    0                   1
0      Student_height      Student_weight
1  145.58702234733374  170.81723251937595
2   139.2022742415592  198.00037694488668
3  190.52458664489595   195.0600895695741
4   147.3697954036125  140.80475319939748
5  167.13787255271964  165.06290825317427

            0           1
0  139.202274  198.000377
1  190.524587  195.060090
2  147.369795  140.804753
3  167.137873  165.062908

In [45]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [46]:
print(df_B)

    Student_height  Student_weight
s1      153.104729      136.084907
s2      157.781332      182.091162
s3      154.296061      140.144441
s4      172.250822      190.636515
s5      154.566118      174.292389

In [47]:
df_B

    Student_height  Student_weight
s1      153.104729      136.084907
s2      157.781332      182.091162
s3      154.296061      140.144441
s4      172.250822      190.636515
s5      154.566118      174.292389

In [40]:
import pandas as pd
import numpy as np

heights_A =  pd.Series([176.2, 158.4, 167.6, 156.2, 161.4])
heights_A.index = ['s1', 's2', 's3', 's4','s5']
print(heights_A.shape)

weights_A = pd.Series([85.1, 90.2, 76.8, 80.4 , 78.9])
weights_A.index = ['s1', 's2', 's3', 's4','s5']
print(weights_A.dtype)

df_A = pd.DataFrame()
df_A['Student_height'] = heights_A
df_A['Student_weight'] = weights_A
print(df_A.shape)


my_mean = 170.0
my_std = 25
np.random.seed(100)
heights_B =  pd.Series(np.random.normal(loc=my_mean, scale=my_std, size=5))
heights_B.index = ['s1', 's2', 's3', 's4','s5']


my_mean1 = 75.0
my_std1 = 12
weights_B  = pd.Series(np.random.normal(loc=my_mean, scale=my_std, size=5))
weights_B.index = ['s1', 's2', 's3', 's4','s5']
print(heights_B.mean())

df_B = pd.DataFrame()
df_B['Student_height'] = heights_B
df_B['Student_weight'] = weights_B
print(df_B.shape)


p = pd.Panel()
data = {'ClassA' : df_A, 
   'ClassB' : df_B}

(5,)
float64
(5, 2)
172.37417741633146
(5, 2)

<ipython-input-40-fa71bce63a94>:37: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  p = pd.Panel()

In [45]:
for c in df_B.columns:
    print(c)

Student_height Student_weight